* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.clear {
    clear: both;
}

/* SIGN UP PAGES: BEGINNING */

// .wrapper {
//     filter: blur(2px);
// }
.signup-page {
    float: left;
    width: 50%;
    height: 100vh;
}


.signup-img {
    min-width: 50%;
    background-color: #F9FAFB;
}

.signup-header {
    padding: 32px;
    font-weight: 600;
}

.signup-body {
    display: flex;
    justify-content: center;
}

.signup-content {
    width: 50%;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    // align-self: center;
}

.signup-heading {
    font-size: 30px;
    height: 38px;
    margin-bottom: 32px;
}

.signup-label {
    color: #344054;
    left: 0;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
}

.signup-input {
    height: 44px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #D0D5DD;
    color: #667085;
    border-radius: 8px;
}

.signup-input[type] {
    padding: 10px 14px;
}

.signup-input::-webkit-inner-spin-button {
    appearance: none;
}

.signup-input:focus {
    font-size: 16px;
    color: #101828;
}

.signup-password-suggest {
    margin: -14px 0 20px;
    color: #667085;
    font-size: 14px;
}

.signup-btn {
    width: 100%;
    background-color: #7F56D9;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #7F56D9;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 4px;
}

.signup-btn:hover {
    background-color: #5c21da;
}

.signup-exist {
    display: flex;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
}

.signup-exist a {
    text-decoration: none;
    padding-left: 8px;
}

.signup-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    margin: 0 0 -8px 0;
    padding: 36px 32px;
    color: #667085;
}

.signup-copyright {}

.signup-help {}

/* SIGN UP PAGES: ENDING */

/* POP UP MODAL: BEGINNING */
.signup-popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(6, 63, 109, 0.3);
    display: none;
    justify-content: center;
    align-items: center;

}

.popup-container {
    width: 900px;
    max-width: calc(100% - 100px);
    background-color: #fff;
    min-height: 600px;
    border-radius: 4px;
    display: flex;
}

.popup-img-bg {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
}

.popup-img {
    // position: absolute;
    // right: 48px;
    width: 50%;
    margin-right: 0px;
}

.popup-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-heading {
    margin-bottom: 16px;
}

.popup-desc {
    margin-bottom: 16px;
    opacity: 0.6;
}

.popup-btn {
    width: 50%;
    padding: 16px 0;
    border-radius: 4px;
    border: 1px solid rgb(11, 184, 89);
    cursor: pointer;
    color: #fff;
    background-color: rgb(11, 184, 89);
}

/* POP UP MODAL: ENDING */


/* CHECKBOX MODAL CSS: BEGINNING */
.checkbox-container {
    margin: 300px;
    width: 400px;
    height: 400px;
}

.checkboxes-list {}

.checkbox-normal {}

.checkbox-label {
    font-family: system-ui, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 48px auto;
    gap: 16px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: rgba($color: #fff, $alpha: 1.0);
    margin: 6px 80px 0 80px;
    font: inherit;
    color: currentColor;
    width: 32px;
    height: 32px;
    border: 4px solid rgb(250, 86, 114);
    border-radius: 4px;
    transform: translateY(-4px);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 20px 20px #ffffff;
    background-color: rgb(250, 86, 114);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: rgb(250, 86, 114);

}

input[type="checkbox"]:checked {
    background-color: rgb(250, 86, 114);
}

/* CHECKBOX MODAL CSS: BEGINNING */